body {
	font-family: Calibri;
}

.naslov {
	background-color: red;
	text-align: center;
}

.drugi {
	font-size: 20px;
	color: red;
}

.treci {
	border-style: dotted;
	font-style: italic;
	background-color: #00abff;
	border-width: 3px;
}